{% extends 'base.html' %}

{% block dnnScript %}
<script>

//--- Click Heart để lưu/quan tâm
// Kiểm tra trạng thái ban đầu của icon heart/heart-fill
$(".bds-favorite").each(function() {
  var bdsId = $(this).data("bds-id");
  checkFavoriteStatus(bdsId, $(this));
});

// Xử lý sự kiện click vào icon heart/heart-fill
$(".bds-favorite").click(function() {
  var bdsId = $(this).data("bds-id");
  var $icon = $(this);
  toggleFavoriteStatus(bdsId, $icon);
});

function toggleFavoriteStatus(bdsId, $icon) {
  $.ajax({
    url: "{{ url_for('bds.toggle_favorite', bds_id='-1') }}".replace("-1", bdsId),
    type: "POST",
    success: function(data) {
      if (data.success) {
        if (data.is_favorite) {
          $icon.removeClass("bi-heart").addClass("bi-heart-fill");
        } else {
          $icon.removeClass("bi-heart-fill").addClass("bi-heart");
        }
      } else {
        alert("Có lỗi xảy ra. Vui lòng thử lại.");
      }
    },
    error: function() {
      alert("Có lỗi xảy ra. Vui lòng thử lại.");
    }
  });
};

function checkFavoriteStatus(bdsId, $icon) {
  $.ajax({
    url: "{{ url_for('bds.check_favorite', bds_id='-1') }}".replace("-1", bdsId),
    type: "GET",
    success: function(data) {
      if (data.is_favorite) {
        $icon.removeClass("bi-heart").addClass("bi-heart-fill");
      } else {
        $icon.removeClass("bi-heart-fill").addClass("bi-heart");
      }
    },
    error: function() {
      alert("Có lỗi xảy ra. Vui lòng thử lại.");
    }
  });
};

//--- hiển thị tên Type được chọn trên Dropdown
var $dropdown = $('.dropdown');
var $button = $dropdown.find('#type-drop-btn');
var $checkboxes = $dropdown.find('input[type="checkbox"]');

function updateTypeButtonText() {
  var $dropdown = $('#type-drop-btn').parent('.dropdown');
  var $button = $dropdown.find('#type-drop-btn');
  var checkedCount = $dropdown.find('input[type="checkbox"]:checked').length;
  var firstCheckedLabel = $dropdown.find('input[type="checkbox"]:checked').first().siblings('label').text();

  if (checkedCount === 0) {
    $button.text('Loại BĐS');
    $button.addClass('btn-outline-secondary').removeClass('btn-secondary'); // Thêm class btn-outline-secondary, bỏ class btn-secondary
  } else if (checkedCount === 1) {
    $button.text(firstCheckedLabel);
    $button.addClass('btn-secondary').removeClass('btn-outline-secondary'); // Thêm class btn-secondary, bỏ class btn-outline-secondary
  } else {
    $button.text(firstCheckedLabel + ' (+' + (checkedCount - 1) + ')');
    $button.addClass('btn-secondary').removeClass('btn-outline-secondary'); // Thêm class btn-secondary, bỏ class btn-outline-secondary
  }
}

$checkboxes.on('change', function() {
    updateTypeButtonText();
});

//--- xử lý Find Tỉnh thành theo Keyword
// Khi dropdown button được nhấn
$('#province-drop-toggle-btn').on('shown.bs.dropdown', function() {
    // Focus vào ô keyword
    $('#province-keyword-input').focus();
    // Làm trống giá trị trong ô keyword
    $('#province-keyword-input').val('');
    // Hiện toàn bộ dropdown-item
    $('#province-drop-menu-ul .dropdown-item-li').show();
});

// Khi dropdown button được nhấn
$('#city-drop-toggle-btn').on('shown.bs.dropdown', function() {
    // Focus vào ô keyword
    $('#city-keyword-input').focus();
    // Làm trống giá trị trong ô keyword
    $('#city-keyword-input').val('');
    // Hiện toàn bộ dropdown-item
    $('#city-drop-menu-ul .dropdown-item-li').show();
});

// Xử lý khi người dùng nhập vào ô keyword
$('#province-keyword-input').on('input', function() {
    var keyword = $(this).val().toLowerCase();
    // Chuyển đổi keyword thành dạng không dấu và loại bỏ khoảng trắng để dễ so sánh
    var normalizedKeyword = keyword.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/\s+/g, '');

    // Duyệt qua các dropdown-item
    $('#province-drop-menu-ul .dropdown-item').each(function() {
        var itemText = $(this).text().toLowerCase();
        var normalizedItemText = itemText.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/\s+/g, '');

        // Nếu keyword là rỗng hoặc trùng khớp với item text thì hiện item, ngược lại thì ẩn item
        if (normalizedKeyword === '' || normalizedItemText.includes(normalizedKeyword)) {
            $(this).parent().show();
        } else {
            $(this).parent().hide();
        }
    });
});

// --- click item Province thì gán tên Tỉnh vào Nút, update City tương ứng
$('#province-drop-menu-ul .province-drop-item-a').click(function() {
  var text = $(this).text();
  var provinceId = $(this).data('value');

  $('#province-drop-toggle-btn').text(text);
  // giúp tránh get_cities (ngay sau khi tải lại trang), làm city đang được chọn bị thay thế bởi city đứng đầu list mới
  $('input[type=hidden][id=is-reloaded-hidden]').val(false)
  $('input[type=hidden][id=province-hidden]').val(provinceId).trigger('change');
});

// --- Xử lý khi input hidden #province-hidden thay đổi
$('input[type=hidden][id=province-hidden]').on('change', function() {
  if ($('input[type=hidden][id=is-reloaded-hidden]').val() === 'false') {
    var provinceId = $(this).val();

    // Kiểm tra nếu provinceId = 0
    if (provinceId === '0' || provinceId === 0 || provinceId === "None") { 
      // Reset dropdown Province
      $('#province-drop-toggle-btn').text(' Tỉnh/Thành ');

      // Reset dropdown City
      $('#city-drop-toggle-btn').text(' Quận/Huyện ').prop('disabled', true)
        .addClass("btn-outline-secondary").removeClass("btn-secondary"); 
      $('#city-drop-menu-ul').empty(); // Xóa danh sách city hiện tại (nếu có)

      // Reset #city-hidden về 0
      $('#city-hidden').val('0'); 
    } else {
      getCitiesByProvince(provinceId);
    }

    // Cập nhật class cho dropdown button
    updateProvinceButtonClass();
  } else {
    updateProvinceButtonClass();
    updateCityButtonClass();
  }
});

// --- Sử dụng event delegation để bắt sự kiện click trên city-drop-item-a
$('#city-drop-menu-ul').on('click', '.city-drop-item-a', function() {
  var text = $(this).text();
  var cityId = $(this).data('value');

  $('#city-drop-toggle-btn').text(text);
  $('input[type=hidden][id=city-hidden]').val(cityId).trigger('change');
});

// --- Xử lý khi input hidden #city-hidden thay đổi
$('input[type=hidden][id=city-hidden]').on('change', function() {
  var cityId = $(this).val();
  
  // Cập nhật class cho dropdown button City
  updateCityButtonClass();
});

// --- Sử dụng event delegation để bắt sự kiện click trên price-drop-item-a
$('#price-drop-menu-ul').on('click', '.price-drop-item-a', function() {
  var text = $(this).text();
  var priceId = $(this).data('value');

  $('#price-drop-toggle-btn').text(text);
  $('input[type=hidden][id=price-range-hidden]').val(priceId).trigger('change');
});

// --- Xử lý khi input hidden #price-range-hidden thay đổi
$('input[type=hidden][id=price-range-hidden]').on('change', function() {
  var priceId = $(this).val();

  // Kiểm tra nếu priceId = 0
  if (priceId === '0' || priceId === 0) { 
    // Reset dropdown Price
    $('#price-drop-toggle-btn').text(' Mức giá ');
  }

  // Cập nhật class cho dropdown button Price
  updatePriceButtonClass();
});

// --- Sử dụng event delegation để bắt sự kiện click trên area-drop-item-a
$('#area-drop-menu-ul').on('click', '.area-drop-item-a', function() {
  var text = $(this).text();
  var areaId = $(this).data('value');

  $('#area-drop-toggle-btn').text(text);
  $('input[type=hidden][id=area-range-hidden]').val(areaId).trigger('change');
});

// --- Xử lý khi input hidden #area-range-hidden thay đổi
$('input[type=hidden][id=area-range-hidden]').on('change', function() {
  var areaId = $(this).val();

  // Kiểm tra nếu areaId = 0
  if (areaId === '0' || areaId === 0) {
    // Reset dropdown Area
    $('#area-drop-toggle-btn').text(' Diện tích ');
  }

  // Cập nhật class cho dropdown button Area
  updateAreaButtonClass();
});

// --- Hàm cập nhật class cho dropdown button Province
function updateProvinceButtonClass() {
  var provinceId = $('#province-hidden').val();

  if (provinceId && provinceId !== '0' && provinceId !== 'None') {
    $('#province-drop-toggle-btn').addClass('btn-secondary').removeClass('btn-outline-secondary');
  } else {
    $('#province-drop-toggle-btn').addClass('btn-outline-secondary').removeClass('btn-secondary');
  }
}

// --- Hàm cập nhật class cho dropdown button City
function updateCityButtonClass() {
  var cityId = $('#city-hidden').val();

  if (cityId && cityId !== '0' && cityId !== 'None') {
    $('#city-drop-toggle-btn').addClass('btn-secondary').removeClass('btn-outline-secondary').attr('disabled', false);
  } else {
    $('#city-drop-toggle-btn').addClass('btn-outline-secondary').removeClass('btn-secondary');
  }
}

// --- Hàm cập nhật class cho dropdown button Price
function updatePriceButtonClass() {
  var priceId = $('#price-range-hidden').val();

  if (priceId && priceId !== '0' && priceId !== 'None') {
    $('#price-drop-toggle-btn').addClass('btn-secondary').removeClass('btn-outline-secondary');
  } else {
    $('#price-drop-toggle-btn').addClass('btn-outline-secondary').removeClass('btn-secondary');
  }
}

// --- Hàm cập nhật class cho dropdown button Area
function updateAreaButtonClass() {
  var areaId = $('#area-range-hidden').val();

  if (areaId && areaId !== '0' && areaId !== 'None') {
    $('#area-drop-toggle-btn').addClass('btn-secondary').removeClass('btn-outline-secondary');
  } else {
    $('#area-drop-toggle-btn').addClass('btn-outline-secondary').removeClass('btn-secondary');
  }
}

// --- Tìm Cities tương ứng Provinces
function getCitiesByProvince(provinceId) {
  if (provinceId) {
    $.ajax({
      url: '{{ url_for("bds.get_cities", province_id=999) }}'.replace('999', provinceId),
      type: 'GET',
      success: function(data) {
        var cityDropdownMenu = $('#city-drop-menu-ul');
        cityDropdownMenu.empty();

        // Thêm input tìm kiếm
        cityDropdownMenu.append(`
                  <li>
                      <div class="row col-10 offset-1">
                          <input type="text" class="form-control col-6" id="city-keyword-input" placeholder="từ khóa" aria-label="keyword" aria-describedby="addon-wrapping">
                      </div>
                  </li>
              `);

        $.each(data, function(index, city) {
          var cityName = city.name;
          cityDropdownMenu.append(`
            <li class="dropdown-item-li">
              <a class="dropdown-item city-drop-item-a" data-value="${city.id}">${cityName}</a>
            </li>
          `);
        });

        $('#city-drop-toggle-btn').prop('disabled', false).text(' Quận/Huyện ');

        // --- Sau khi thêm các mục city vào dropdown
        if (data.length > 0) {
          // **Lấy text và value của item đầu tiên**
          var firstCityName = data[0].name;
          var firstCityText = `${firstCityName}`;
          var firstCityId = data[0].id;

          // **Gán giá trị cho #city-hidden trước**
          $('#city-hidden').val(firstCityId); 

          // **Bây giờ mới kiểm tra selectedCityId**
          var selectedCityId = $('#city-hidden').val();
          if (selectedCityId) { 
            // Cập nhật text cho dropdown button 
            $('#city-drop-toggle-btn').text(firstCityText);
            // Trigger change event (nếu cần)
            $('#city-hidden').trigger('change'); 
          }
        }

        // --- Xử lý tìm kiếm city (giữ nguyên)
        $('#city-keyword-input').on('input', function() {
          var keyword = $(this).val().toLowerCase();
          var normalizedKeyword = keyword.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/\s+/g, '');

          $('#city-drop-menu-ul .dropdown-item').each(function() {
            var itemText = $(this).text().toLowerCase();
            var normalizedItemText = itemText.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/\s+/g, '');

            if (normalizedKeyword === '' || normalizedItemText.includes(normalizedKeyword)) {
              $(this).parent().show();
            } else {
              $(this).parent().hide();
            }
          });
        });
      }
    });
  } else {
    $('#city-drop-menu-ul').empty();
    $('#city-drop-toggle-btn').prop('disabled', true).text(' Quận/Huyện ')
      .addClass("btn-outline-secondary").removeClass("btn-secondary"); ;
  }
}

// --- khi load trang, cập nhật tên Nút thành tên của Tỉnh/Thành có value từ hidden (giữ nguyên)
var selectedProvinceId = "{{ selected_province_id }}";
var selectedCityId = "{{ selected_city_id }}";
var selectedPriceId = "{{ selected_price_range_id }}";
var selectedAreaId = "{{ selected_area_range_id }}";

// --- xử lý ngay khi Load trang
setTimeout(function() {

  // Cập nhật nội dung của button ngay khi trang được load
  updateTypeButtonText();

  if (selectedProvinceId !== "0") {
    var selectedProvinceItem = $('.province-drop-item-a[data-value="' + selectedProvinceId + '"]');
    if (selectedProvinceItem.length > 0) {
      var selectedProvinceName = selectedProvinceItem.text();
      $('#province-drop-toggle-btn').text(selectedProvinceName);
    }
    $('input[type=hidden][id=province-hidden]').val(selectedProvinceId).trigger('change');
  }

  if (selectedCityId !== "0") {
    var selectedCityItem = $('.city-drop-item-a[data-value="' + selectedCityId + '"]');
    if (selectedCityItem.length > 0) {
      var selectedCityName = selectedCityItem.text();
      $('#city-drop-toggle-btn').text(selectedCityName);
    }
    $('input[type=hidden][id=city-hidden]').val(selectedCityId).trigger('change');
  }

  if (selectedPriceId !== "0") {
    var selectedPriceItem = $('.price-drop-item-a[data-value="' + selectedPriceId + '"]');
    if (selectedPriceItem.length > 0) {
      var selectedPriceName = selectedPriceItem.text();
      $('#price-drop-toggle-btn').text(selectedPriceName);
    }
    $('input[type=hidden][id=price-range-hidden]').val(selectedPriceId).trigger('change');
  }

  if (selectedAreaId !== "0") {
    var selectedAreaItem = $('.area-drop-item-a[data-value="' + selectedAreaId + '"]');
    if (selectedAreaItem.length > 0) {
      var selectedAreaName = selectedAreaItem.text();
      $('#area-drop-toggle-btn').text(selectedAreaName);
    }
    $('input[type=hidden][id=area-range-hidden]').val(selectedAreaId).trigger('change');
  }
}, 1);

var $globalOverlay = $('#global-overlay');

// Hiển thị overlay khi dropdown mở
$('.dropdown').on('shown.bs.dropdown', function() {
  $globalOverlay.fadeIn(200); // Fade-in trong 0.2 giây (200 milliseconds)
  $(this).find('.dropdown-toggle').parent().parent().css('z-index', '1001');
});

// Ẩn overlay và reset z-index khi dropdown đóng
$('.dropdown').on('hidden.bs.dropdown', function() {
  $globalOverlay.fadeOut(200); // Fade-out trong 0.2 giây (200 milliseconds)
  $('.dropdown .dropdown-toggle').parent().parent().css('z-index', 'auto');
});

// --- hiện các gợi ý bds liên quan đến keyword
$('#keyword-input').on('focus', function() {
    if ($(this).val().trim() !== '') {
        // Kiểm tra số lượng item trong dropdown trước khi hiển thị
        if ($('#keyword-result-drop-div').children().length > 0) {
            $('#keyword-result-drop-div').addClass('show');
        }
    }
});

$('#keyword-input').on('blur', function() {
    setTimeout(function() {
        $('#keyword-result-drop-div').removeClass('show');
    }, 200); // Delay to allow click on dropdown items
});

$('#keyword-input').on('input', function() {
    var keyword = $(this).val().trim();
    if (keyword === '') {
        $('#keyword-result-drop-div').removeClass('show');
    } else {
        $.ajax({
            url: '/search_bds_keyword', // Đường dẫn đến endpoint xử lý tìm kiếm
            method: 'GET',
            data: { keyword: keyword },
            success: function(response) {
                var dropdownContent = '';
                response.forEach(function(item) {
                    var highlightedText = item.sentence.replace(new RegExp(keyword, 'gi'), function(match) {
                        return '<span class="keyword-bold">' + match + '</span>';
                    });
                    dropdownContent += '<li class="list-group-item p-2" data-id="' + item.id + '">' +
                        '<a href="' + item.detailUrl + '">' + highlightedText + '</a>' +
                        '</li>';
                });

                // Cập nhật nội dung dropdown
                $('#keyword-result-drop-div').html(dropdownContent);

                // Kiểm tra số lượng item trong dropdown trước khi hiển thị
                if (response.length > 0) {
                    $('#keyword-result-drop-div').addClass('show');
                } else {
                    $('#keyword-result-drop-div').removeClass('show');
                }
            }
        });
    }
});

// --- thay thế Placeholder bằng hiệu ứng xóa chữ cũ, hiện chữ mới
var $input = $('#keyword-input');
var phrases = [
  "Căn hộ 2 phòng ngủ",
  "123 Đường A",
  "Căn hộ cao cấp",
  "Biệt thự 3 tầng",
  "Bể bơi trên mái",
  "Văn phòng tiện nghi",
  "Mua bán nhà chính chủ"
];
var currentIndex = 0;
var changePlaceholderInterval;
var eraseInterval;
var typeInterval;

function animatePlaceholder(newPhrase) {
  var currentPhrase = $input.attr('placeholder');
  var i = currentPhrase.length;

  eraseInterval = setInterval(function() {
    if (i >= 0) {
      $input.attr('placeholder', currentPhrase.slice(0, i));
      i--;
    } else {
      clearInterval(eraseInterval);
      i = 0;
      typeInterval = setInterval(function() {
        if (i <= newPhrase.length) {
          $input.attr('placeholder', newPhrase.slice(0, i));
          i++;
        } else {
          clearInterval(typeInterval);
        }
      }, 1000 / newPhrase.length);
    }
  }, 500 / currentPhrase.length); // Giảm thời gian giữa mỗi lần xóa
}

function changePlaceholder() {
  var newPhrase = phrases[currentIndex];
  animatePlaceholder(newPhrase);
  currentIndex = (currentIndex + 1) % phrases.length;
}

// Chạy placeholder lần đầu
changePlaceholder();
changePlaceholderInterval = setInterval(changePlaceholder, 4000);

// Sự kiện focus và blur để dừng và tiếp tục hiệu ứng
$(window).on('focus', function() {
  // Tab được active
  console.log('Tab được active!');
  changePlaceholderInterval = setInterval(changePlaceholder, 4000);
});

$(window).on('blur', function() {
  // Tab bị inactive
  clearInterval(changePlaceholderInterval);
  clearInterval(eraseInterval);
  clearInterval(typeInterval);
});
</script>
{% endblock %}

{% block title %}Danh sách Bds{% endblock %}

{% block content %}
<div class="container os-bds-list-html">
  <form action="{{ url_for('bds.os_bds_list') }}" method="POST" class="mb-3">
    <input type="hidden" name="province-hidden" id="province-hidden"
        value="{% if selected_province_id %}{{ selected_province_id }}{% else %}0{% endif %}">
    <input type="hidden" name="city-hidden" id="city-hidden"
        value="{% if selected_city_id %}{{ selected_city_id }}{% else %}0{% endif %}">
    <input type="hidden" name="price-range-hidden" id="price-range-hidden"
        value="{% if selected_price_range_id %}{{ selected_price_range_id }}{% else %}0{% endif %}">
    <input type="hidden" name="area-range-hidden" id="area-range-hidden"
        value="{% if selected_area_range_id %}{{ selected_area_range_id }}{% else %}0{% endif %}">
    <input type="hidden" name="is-reloaded-hidden" id="is-reloaded-hidden"
        value="{{ is_reloaded }}">

    <div class="row justify-content-center mt-3 mb-3 col-10 offset-1" id="search-frame">
            <div class="border p-3 rounded">
                <!-- First row: Keyword input and search button -->
                <div class="row mb-3">
                    <!-- Input with Dropdown on Focus -->
                    <div class="col-10">
                      <input type="text" class="form-control" id="keyword-input" name="keyword-input" placeholder="Từ khóa" aria-label="Search" value="{{ keyword_input }}">
                      <div class="dropdown-menu p-1" id="keyword-result-drop-div" style="width: 60%;"></div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary col-12" type="submit">Tìm kiếm</button>
                    </div>
                </div>

                <!-- Second row: Other search criteria -->
                <div class="row mb-3">
                    <div class="col">
                        <div class="dropdown">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle col-12" id="type-drop-btn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Loại BĐS
                            </button>
                            <div class="dropdown-menu p-1" style="width: max-content;">
                                {% for type in types %}
                                <li class="list-group-item p-2">
                                    <input class="form-check-input me-1" type="checkbox" name="type-id[]" value="{{ type.id }}" id="type-{{ type.id }}"
                                        {% if type.id|string in selected_type_ids %}checked{% endif %}>
                                    <label class="form-check-label" for="type-{{ type.id }}">{{ type.name }}</label>
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle col-12" id="province-drop-toggle-btn"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tỉnh/Thành
                            </button>
                            <ul class="dropdown-menu col-12" id="province-drop-menu-ul">
                                <li>
                                    <div class="row col-10 offset-1">
                                        <input type="text" class="form-control col-6" id="province-keyword-input"
                                            placeholder="từ khóa" aria-label="keyword" aria-describedby="addon-wrapping">
                                    </div>
                                </li>
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item province-drop-item-a" data-value="0">- Xóa chọn -</a>
                                </li>
                                {% for province in provinces %}
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item province-drop-item-a" data-value="{{ province.id }}">{{ province.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle col-12" id="city-drop-toggle-btn" 
                                type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                                Quận/Huyện
                            </button>
                            <ul class="dropdown-menu col-12" id="city-drop-menu-ul">
                                <li>
                                    <div class="row col-10 offset-1">
                                        <input type="text" class="form-control col-6" id="city-keyword-input" 
                                            placeholder="từ khóa" aria-label="keyword" aria-describedby="addon-wrapping">
                                    </div>
                                </li>
                                {% for city in cities %}
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item city-drop-item-a" data-value="{{ city.id }}">{{ city.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <input type="hidden" name="city-hidden" id="city-hidden" value="{{ selected_city_id }}"> 
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle col-12" type="button" id="price-drop-toggle-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                Mức giá
                            </button>
                            <ul class="dropdown-menu col-12" id="price-drop-menu-ul">
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item price-drop-item-a" data-value="0">- Xóa chọn -</a>
                                </li>
                                {% for priceRange in priceRanges %}
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item price-drop-item-a" data-value="{{ priceRange.id }}">{{ priceRange.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle col-12" type="button" id="area-drop-toggle-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                Diện tích
                            </button>
                            <ul class="dropdown-menu col-12" id="area-drop-menu-ul">
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item area-drop-item-a" data-value="0">- Xóa chọn -</a>
                                </li>
                                {% for areaRange in areaRanges %}
                                <li class="dropdown-item-li">
                                    <a class="dropdown-item area-drop-item-a" data-value="{{ areaRange.id }}">{{ areaRange.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-7">
        {% if bds_data %}
        <p>Hiển thị {{ start_index }}-{{ end_index }} (trong {{ pagination.total }} kết quả)</p>
        {% for bds_item in bds_data %}
        <div class="col-12 mb-4">
          <div class="card h-100 property-listing">
              <div class="property-image card-img-top-wrapper position-relative">
                  {% if bds_item.first_image_url %}
                  <img src="{{ bds_item.first_image_url }}" class="card-img-top" alt="{{ bds_item.bds.title }}">
                  {% else %}
                  <img src="{{ url_for('static', filename='uploads/no-image.jpg') }}" class="card-img-top" alt="No Image">
                  {% endif %}
                  {% if bds_item.remaining_images_count > 0 %}
                  <div class="position-absolute top-0 end-0 mt-3 me-3">
                      <span class="badge bg-primary">+{{ bds_item.remaining_images_count }}</span>
                  </div>
                  {% endif %}
                  <div class="position-absolute bottom-0 end-0 mb-3 me-4">
                      <i class="bi {% if bds_item.is_favorite %}bi-heart-fill{% else %}bi-heart{% endif %} bds-favorite text-danger"
                          style="font-size: 1.5rem;" data-bds-id="{{ bds_item.bds.id }}">
                      </i>
                  </div>
              </div>
              <div class="property-details card-body">
                  <a href="{{ url_for('bds.bds_detail', bds_id=bds_item.bds.id) }}">
                      <h5 class="card-title">{{ bds_item.bds.title }}</h5>
                  </a>
                  <p class="card-text">
                      Loại:
                      {% for bds_type in bds_item.bds_types %}
                          {{ bds_type.name }}{% if not loop.last %} / {% endif %}
                      {% endfor %}<br>
                      <i class="bi bi-credit-card-2-back"></i><span class="price"> {{ bds_item.price_to }}</span>   
                      <i class="bi bi-aspect-ratio"></i><span class="area"> {{ bds_item.bds.area }} m²</span>   
                      <i class="bi bi-geo-alt"></i> {{ bds_item.bds_city }}, {{ bds_item.bds_province }}
                  </p>
              </div>
          </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if pagination.has_prev %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('bds.os_bds_list', page=1) }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('bds.os_bds_list', page=pagination.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            
            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
              {% if page_num == pagination.page %}
              <span class="page-link">{{ page_num }}</span>
              {% else %}
              <a class="page-link" href="{{ url_for('bds.os_bds_list', page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            {% endfor %}
            
            {% if pagination.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('bds.os_bds_list', page=pagination.next_num) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('bds.os_bds_list', page=pagination.pages) }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

        {% else %}
        <div class="text-center mb-4">
          <img src="{{ url_for('static', filename='uploads/not-found-bds.jpg') }}"
                alt="Không có BĐS phù hợp" class="img-fluid" style="width: 25%;">
          <div class="row justify-content-center col-4 offset-4">
              <button class="btn btn-secondary" type="submit" formaction="{{ url_for('contact.contact') }}">Yêu cầu tìm kiếm</button>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-3">
        <div class="sticky-sidebar">
            <p>Tin VIP (data cứng)</p>
            <div class="mb-4">
              <div class="card h-100 property-listing mb-4">
                <div class="card-img-top-wrapper position-relative">
                  <div id="carouselExampleAutoplaying" class="carousel slide pointer-event" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_1.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                      <div class="carousel-item">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_2.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                      <div class="carousel-item active">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_3.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                    </div>
                  </div>
                  <div class="position-absolute top-0 start-0 mt-3 ms-4">
                    <img src="static/uploads/vip-flag.png" style="width: 15%">
                  </div>
                  <div class="position-absolute top-0 end-0 mt-3 me-3">
                    <span class="badge bg-primary">+4</span>
                  </div>
                  <div class="position-absolute bottom-0 end-0 mb-3 me-4">
                    <i class="bi bi-heart-fill bds-favorite text-danger" style="font-size: 1.5rem;" data-bds-id="1">
                    </i>
                  </div>
                </div>
                <div class="card-body">
                  <a href="/bds_detail/1">
                    <h5 class="card-title">Căn hộ 2 phòng ngủ, view đẹp</h5>
                  </a>
                  <p class="card-text">
                    Căn hộ chung cư
                    <br>
                    20 triệu / 10.0 m²<br>
                    Tp. Long Xuyên, 
                      An Giang
                  </p>
                </div>
              </div>
              <div class="card h-100 property-listing mb-4">
                <div class="card-img-top-wrapper position-relative">
                  <div id="carouselExampleAutoplaying" class="carousel slide pointer-event" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_1.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                      <div class="carousel-item">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_2.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                      <div class="carousel-item active">
                          <img src="/static/uploads/79_Hoa_Bang_Cau_Giay_Ha_Noi_3.jpg" class="card-img-top bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="Căn hộ 2 phòng ngủ, view đẹp">
                      </div>
                    </div>
                  </div>
                  <div class="position-absolute top-0 start-0 mt-3 ms-4">
                    <img src="static/uploads/vip-flag.png" style="width: 15%">
                  </div>
                  <div class="position-absolute top-0 end-0 mt-3 me-3">
                    <span class="badge bg-primary">+4</span>
                  </div>
                  <div class="position-absolute bottom-0 end-0 mb-3 me-4">
                    <i class="bi bi-heart-fill bds-favorite text-danger" style="font-size: 1.5rem;" data-bds-id="1">
                    </i>
                  </div>
                </div>
                <div class="card-body">
                  <a href="/bds_detail/1">
                    <h5 class="card-title">Căn hộ 2 phòng ngủ, view đẹp</h5>
                  </a>
                  <p class="card-text">
                    Căn hộ chung cư
                    <br>
                    20 triệu / 10.0 m²<br>
                    Tp. Long Xuyên, 
                      An Giang
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="container">
  <div class="jumbotron p-3 mb-4 rounded-3">
    <div class="py-3">
        <h3 class="display-7 fw-bold">Top xem nhiều 24h qua</h3>
    </div>
  </div>

  <div class="row">
    {% if top_bds_24 %}
    {% for bds_item in top_bds_24 %}
    <div class="col-3 mb-4">
      <div class="card h-100 property-listing">
        <div class="card-img-top-wrapper position-relative">
          {% if bds_item.first_image_url %}
          <img src="{{ bds_item.first_image_url }}" class="card-img-top" alt="{{ bds_item.bds.title }}">
          {% else %}
          <img src="{{ url_for('static', filename='uploads/no-image.jpg') }}" class="card-img-top" alt="No Image">
          {% endif %}
          {% if bds_item.remaining_images_count > 0 %}
          <div class="position-absolute top-0 end-0 mt-3 me-3">
            <span class="badge bg-primary">+{{ bds_item.remaining_images_count }}</span>
          </div>
          {% endif %}
          <div class="position-absolute bottom-0 end-0 mb-3 me-4">
            <i class="bi {% if bds_item.is_favorite %}bi-heart-fill{% else %}bi-heart{% endif %} bds-favorite text-danger"
                style="font-size: 1.5rem;" data-bds-id="{{ bds_item.bds.id }}">
            </i>
          </div>
        </div>
        <div class="card-body">
          <a href="{{ url_for('bds.bds_detail', bds_id=bds_item.bds.id) }}">
            <h5 class="card-title">{{ bds_item.bds.title }}</h5>
          </a>
          <p class="card-text">
            {% for bds_type in bds_item.bds_types %}
                {{ bds_type.name }}{% if not loop.last %} / {% endif %}
            {% endfor %}<br>
            {{ bds_item.price_to }} / {{ bds_item.bds.area }} m²<br>
            {{ bds_item.bds_city }}, {{ bds_item.bds_province }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<div id="global-overlay" class="global-overlay" style="display: none;"></div>
{% endblock %}