{% extends 'base.html' %}

{% block dnnScript %}
<script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
<script>

//--- Tạo Text từ các giá trị đã chọn, lưu vào Mục Tin nhắn
// Lấy các giá trị đã chọn
var selectedTypeIds = [];
var selectedProvinceName = '';
var selectedCityName = '';
var addressText = '';
var selectedPriceRange = '';
var selectedAreaRange = '';
var additionalRequirements = '';
var priceUnit = 'Triệu'; // Giá trị mặc định là "Triệu"

// Cập nhật giá trị khi có thay đổi
$('input[name="type-id[]"]').change(function() {
    selectedTypeIds = $('input[name="type-id[]"]:checked').map(function() {
        return $(this).siblings('label').text();
    }).get();
});

// Tìm Cities tương ứng Provinces
$('#province-select').on('change', function() {
    var provinceId = $(this).val();
    if (provinceId) {
        $.ajax({
            url: '{{ url_for("bds.get_cities", province_id=999) }}'.replace('999', provinceId),
            type: 'GET',
            success: function(data) {
                $('#city-select').prop('disabled', false);
                $('#city-select').empty();
                $('#city-select').append('<option value="">- Quận / huyện -</option>');
                $.each(data, function(index, city) {
                    $('#city-select').append('<option value="' + city.id + '">' + city.name + '</option>');
                });
                // Chọn option đầu tiên nếu có dữ liệu
                if (data.length > 0) {
                    $('#city-select').val(data[0].id);
                }
            }
        });
    } else {
        $('#city-select').prop('disabled', true);
        $('#city-select').empty();
        $('#city-select').append('<option value="">- Quận / huyện -</option>');
    }
});

$('#city-select').change(function() {
    selectedCityName = $('#city-select option:selected').text();
});

$('#address-text').on('input', function() {
    addressText = $(this).val();
});

$('#price-range-select').change(function() {
    selectedPriceRange = $('#price-range-select option:selected').text();
    $('#price-text').val(''); // Reset ô Nhập giá khi chọn Mức giá
    $('input[name="btnradioArea"]').prop('checked', false); // Reset nút Triệu/Tỷ khi chọn Mức giá
});

$('#area-range-select').change(function() {
    selectedAreaRange = $('#area-range-select option:selected').text();
    $('#area-text').val(''); // Reset ô Nhập diện tích khi chọn Diện tích
});

$('#price-text').on('input', function() {
    selectedPriceRange = '';
    $('input[name="btnradioArea"][id="btnradioArea2"]').prop('checked', true); // Chọn lại nút "Triệu"
    $('#price-range-select').val('');
});

$('input[name="btnradioArea"]').change(function() {
    if ($(this).attr('id') === 'btnradio2') {
        priceUnit = 'Triệu';
    } else {
        priceUnit = 'Tỷ';
    }
});

$('#area-text').on('input', function() {
    selectedAreaRange = ''; // Reset Diện tích khi nhập diện tích
    $('#area-range-select').val(''); // Reset select Diện tích
});

$('#message2').on('input', function() {
    additionalRequirements = $(this).val();
});

$('#save-btn').click(function() {
    // Kiểm tra điều kiện hiển thị alert trước khi cập nhật nội dung
    if (validateForm()) {
        updateSubjectMessageField();
        $('#exampleModal').modal('hide');
        
        // Ẩn alert nếu form hợp lệ
        $('.alert').hide(); 
    }
});

function validateForm() {
    var selectedOption = $('input[name="btnradioB"]:checked').attr('id');
    var selectedProvinceName = $('#exampleModal #province-select option:selected').text();
    var selectedCityName = $('#exampleModal #city-select option:selected').text();
    var addressText = $('#exampleModal #address-text').val();

    if (selectedOption === "btnradioB2" && 
        (selectedProvinceName === '- Tỉnh/Thành phố -' || 
         selectedCityName === '- Quận/Huyện -' || 
         addressText === '')) {
        // Kiểm tra xem đã có alert đang hiển thị chưa
        if (!$('.alert').is(':visible')) {
            appendAlert(
              'Vui lòng nhập Tỉnh/Thành phố, Quận/Huyện và Đường phố, Số nhà.'
              + '\nChúng tôi sẽ sớm liên hệ lại, hẹn lịch gặp.'
              , 'danger');
        }
        return false; // Trả về false để ngăn không cho cập nhật nội dung
    }
    return true; // Trả về true nếu điều kiện hợp lệ
}

function updateSubjectMessageField() {
    var messageText;

    // Lấy ID của nút Radio được chọn
    var selectedOption = $('input[name="btnradioB"]:checked').attr('id');

    // Đặt câu mở đầu Tin nhắn tùy vào nút được chọn
    if (selectedOption === "btnradioB1") {
        messageText = 'Tôi muốn tìm kiếm BĐS\n\n';
    } else if (selectedOption === "btnradioB2") {
        messageText = 'Tôi muốn đăng bán BĐS\n\n';
    }
    $('#subject').val(messageText);

    // Lấy các giá trị từ các phần tử HTML
    var typeCheckboxes = $('#exampleModal input[name="type-id[]"]:checked');
    var selectedTypeNames = Array.from(typeCheckboxes).map(function(checkbox) {
        return $(checkbox).siblings('label').text(); // Lấy tên loại BĐS
    });
    var selectedProvinceName = $('#exampleModal #province-select option:selected').text();
    var selectedCityName = $('#exampleModal #city-select option:selected').text();
    var addressText = $('#exampleModal #address-text').val();
    var selectedPriceRange = $('#exampleModal #price-range-select option:selected').text();
    var priceText = $('#exampleModal #price-text').val();
    var selectedAreaRange = $('#exampleModal #area-range-select option:selected').text();
    var areaText = $('#exampleModal #area-text').val();
    var additionalRequirements = $('#exampleModal #additional-requirements').val();

    // Tạo đoạn văn bản từ các giá trị đã lấy
    if (selectedTypeNames.length > 0) {
        messageText += 'Loại BĐS: ' + selectedTypeNames.join(', ') + '\n';
    }

    // Kiểm tra Province có giá trị trước khi cho vào Tin nhắn
    if (selectedProvinceName && selectedProvinceName !== '- Tỉnh/Thành phố -') {
        messageText += 'Tỉnh/Thành phố: ' + selectedProvinceName + '\n';
    }

    // Kiểm tra City có giá trị trước khi cho vào Tin nhắn
    if (selectedCityName && selectedCityName !== '- Quận/Huyện -') {
        messageText += 'Quận/Huyện: ' + selectedCityName + '\n';
    }

    if (addressText) {
        messageText += 'Tên Đường/phố: ' + addressText + '\n';
    }

    if (selectedPriceRange && selectedPriceRange !== '- Mức giá -') {
        messageText += 'Mức giá: ' + selectedPriceRange + '\n';
    } else if (priceText) {
        messageText += 'Mức giá: ' + priceText + ' ' + priceUnit + '\n';
    }

    if (selectedAreaRange && selectedAreaRange !== '- Diện tích -') {
        messageText += 'Diện tích: ' + selectedAreaRange + '\n';
    } else if (areaText) {
        messageText += 'Diện tích: ' + areaText + ' m²\n';
    }

    if (additionalRequirements) {
        messageText += 'Yêu cầu thêm: ' + additionalRequirements + '\n';
    }

    // Gán đoạn văn bản vào trường "Tin nhắn"
    $('#message').val(messageText);
}

//--- hiển thị tên Type được chọn trên Dropdown
var $dropdown = $('.dropdown');
var $button = $dropdown.find('#type-dropdown');
var $checkboxes = $dropdown.find('input[type="checkbox"]');

function updateButtonText() {
    var checkedCount = $dropdown.find('input[type="checkbox"]:checked').length;
    var firstCheckedLabel = $dropdown.find('input[type="checkbox"]:checked').first().siblings('label').text();

    if (checkedCount === 0) {
        $button.text('Loại BĐS');
    } else if (checkedCount === 1) {
        $button.text(firstCheckedLabel);
    } else {
        $button.text(firstCheckedLabel + ' (+' + (checkedCount - 1) + ')');
    }
}

$checkboxes.on('change', function() {
    updateButtonText();
});

// Cập nhật nội dung của button ngay khi trang được load
updateButtonText();

//--- xử lý Yêu cầu tìm kiếm (được gửi từ os-bds-list.html)
setTimeout(function() {
    // Lấy các giá trị từ biến Jinja2
    var isFromBds = "{{ is_from_bds }}"
    if (isFromBds) {
        var selectedTypeIds = "{{ type_ids|safe }}";
        var selectedProvinceId = "{{ selected_province_id }}";
        var selectedCityId = "{{ selected_city_id }}";
        var address = "{{ address }}";
        var selectedPriceRangeId = "{{ selected_price_range_id }}";
        var selectedAreaRangeId = "{{ selected_area_range_id }}";
        // var selectedDirectionId = "{{ selected_direction_id }}";

        // Cập nhật các trường trong Modal
        updateModalValues(selectedTypeIds, selectedProvinceId, selectedCityId, address, selectedPriceRangeId, selectedAreaRangeId);
        updateButtonText();
        $('#exampleModal').modal('show');

        // Check the btnradioA2 radio button
        $('input[id=btnradioA2]').attr('checked', 'checked');
    }
}, 1); // Chờ ooo miliseconds trước khi chạy script

function updateModalValues(selectedTypeIds, selectedProvinceId, selectedCityId, address, selectedPriceRangeId, selectedAreaRangeId) {
    // Cập nhật các checkbox Loại BDS
    $('#exampleModal input[name="type-id[]"]').each(function() {
        $(this).prop('checked', selectedTypeIds.includes($(this).val()));
    });

    // Cập nhật giá trị tỉnh/thành phố
    $('#exampleModal #province-select').val(selectedProvinceId);

    // Cập nhật giá trị quận/huyện
    $('#exampleModal #city-select').val(selectedCityId);

    // Cập nhật giá trị đường/phố
    $('#exampleModal #address-text').val(address);

    // Cập nhật giá trị mức giá
    $('#exampleModal #price-range-select').val(selectedPriceRangeId);

    // Cập nhật giá trị diện tích
    $('#exampleModal #area-range-select').val(selectedAreaRangeId);
}

//--- thay đổi Subject tùy nút được chọn
function updateSubject() {
    var selectedValue = $('input[name="btnradioA"]:checked').val();

    if (selectedValue === "option1") {
        $('#subject').val("Đặt câu hỏi");
    } else if (selectedValue === "option2") {
        $('#subject').val("Yêu cầu tìm kiếm / đăng bán");
    }
}

// Call the function on page load
updateSubject();

// Event listener for radio button changes
$('input[name="btnradioA"]').change(function() {
  updateSubject();
});

//--- hiện Alert, bắt buộc nhập Tỉnh/TP, Quận/huyện, Đường phố, Số nhà nếu Đăng bán
const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Nice, you triggered this alert message!', 'success')
  })
}

</script>
{% endblock %}

{% block title %}Liên hệ{% endblock %}

{% block content %}
<div class="container col-6">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-9">
      <h1>Mecland.vn</h1>
      <p>Địa chỉ: 123 ABC, XYZ</p>
      <p>Email: mecland.vn@gmail.com</p>
      <p>Điện thoại: 0123456789</p>
    </div>
    <div class="col-3">
      <img src="{{ url_for('static', filename='uploads/LAT-bds.jpg') }}" 
        class=""  alt="LAT" style="width: -webkit-fill-available;">
    </div>
  </div>

  <h2>Gửi tin nhắn</h2>
  
  <form action="#" method="POST" class="row g-3 needs-validation" novalidate>
    <div class="col-6">
      <label for="name" class="form-label">Họ và tên:</label>
      <input type="text" class="form-control" id="name" name="name" required 
             value="{{ user.name if user else '' }}">  <!-- Display user's name if logged in -->
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Vui lòng nhập họ và tên.
      </div>
    </div>
    <div class="col-6">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required 
             value="{{ user.email if user else '' }}">  <!-- Display user's email if logged in -->
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Vui lòng nhập địa chỉ email hợp lệ.
      </div>
    </div>
    <div class="col-6">
      <label for="phone" class="form-label">SĐT:</label>
      <input type="tel" class="form-control" id="phone" name="phone" required 
             value="{{ user.phone if user else '' }}">  <!-- Display user's phone if logged in -->
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Vui lòng nhập số điện thoại hợp lệ.
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="btnradioA" id="btnradioA1" value="option1" checked>
          <label class="form-check-label" for="btnradioA1">Đặt câu hỏi</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="btnradioA" id="btnradioA2" value="option2">
          <label class="form-check-label" for="btnradioA2" data-bs-toggle="modal" data-bs-target="#exampleModal">Tìm kiếm / Đăng bán</label>
        </div>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="subject" name="subject" required placeholder="Chủ đề">
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Vui lòng nhập tiêu đề.
        </div>
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="message" name="message" rows="10" required placeholder="Tin nhắn"></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Vui lòng nhập tin nhắn.
        </div>
      </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Gửi</button>
    </div>
  </form>
</div>

<!-- Modal chọn tiêu chí tìm kiếm BDS -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tiêu chí tìm kiếm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div class="btn-group col-12" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradioB" id="btnradioB1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradioB1">Tìm kiếm</label>

            <input type="radio" class="btn-check" name="btnradioB" id="btnradioB2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradioB2">Đăng bán</label>
          </div>
        </div>
        <div class="mb-3">
          <div class="dropdown">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle col-12" id="type-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                Loại BĐS
              </button>
              <div class="dropdown-menu p-4 col-12">
                  <p>(Có thể chọn nhiều)</p>
                  <ul class="list-group">
                    {% for type in types %}
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" name="type-id[]" value="{{ type.id }}" id="type-{{ type.id }}"
                        {% if type.id|string in selected_type_ids %}checked{% endif %}>
                        <label class="form-check-label" for="type-{{ type.id }}">{{ type.name }}</label>
                    </li>
                    {% endfor %}
                </ul>
              </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <select class="form-control" name="province-select" id="province-select">
                <option value="">- Tỉnh/Thành phố -</option>
                {% for province in provinces %}
                <option value="{{ province.id }}" {% if selected_province_id == province.id|string %}selected{% endif %}>{{ province.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <select class="form-control" name="city-select" id="city-select">
                <option value="">- Quận/Huyện -</option>
                {% for city in cities %}
                <option value="{{ city.id }}" {% if selected_city_id == city.id|string %}selected{% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" name="address-text" id="address-text" placeholder="Tên Đường/phố" aria-label="Search" value="{{ address }}">
            </div>
        </div>
        <div id="liveAlertPlaceholder"></div>
        <div class="row mb-3">
          <div class="col-6">
            <select class="form-control" name="price-range-select" id="price-range-select">
                <option value="">- Mức giá -</option>
                {% for priceRange in priceRanges %}
                <option value="{{ priceRange.id }}" {% if selected_price_range_id == priceRange.id|string %}selected{% endif %}>{{ priceRange.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <div class="input-group" role="group" aria-label="Basic radio toggle button group">
              <input type="text" class="form-control" id="price-text" placeholder="Nhập giá" aria-label="price">
            
              <input type="radio" class="btn-check" name="btnradioArea" id="btnradioArea2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradioArea2">Triệu</label>
            
              <input type="radio" class="btn-check" name="btnradioArea" id="btnradio3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio3">Tỷ</label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <select class="form-control" name="area-range-select" id="area-range-select">
                <option value="">- Diện tích -</option>
                {% for areaRange in areaRanges %}
                <option value="{{ areaRange.id }}" {% if selected_area_range_id == areaRange.id|string %}selected{% endif %}>{{ areaRange.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <div class="input-group">
              <input type="text" class="form-control" id="area-text" placeholder="Nhập diện tích" aria-label="area" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">m²</span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="message2" class="form-label">
              Yêu cầu thêm:
            </label>
            <textarea id="message2" name="message2" rows="3" class="form-control"
              placeholder="Hướng, ngõ to, có hầm để xe..." required></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" id="save-btn">Lưu</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}