{% extends 'base.html' %}

{% block dnnScript %}{% endblock %}

{% block title %}Thông tin User{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-10">
        <h1>Thông tin User</h1>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-end mt-2">
            <a href="{{ url_for('user.user_add_edit', user_id=user.id) }}" class="btn btn-primary">Sửa</a>
        </div>
      </div>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Tên</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Tên đăng nhập</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Nhu cầu</th>
            <td>{{ user.need }}</td>
        </tr>
        <tr>
            <th>Sđt</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <th>Tin đã lưu</th>
          <td>
              {% if saved_bds %}
                  <ul>
                      {% for bds in saved_bds %}
                          <li><a href="{{ url_for('bds.bds_detail', bds_id=bds.id) }}">{{ bds.title }}</a></li>
                      {% endfor %}
                  </ul>
              {% else %}
                  Chưa có tin đã lưu.
              {% endif %}
          </td>
      </tr>
    </table>
</div>
{% endblock %}