body {
  overflow: scroll;
}

/*--- os-bds-list-html */

.os-bds-list-html .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.os-bds-list-html .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.os-bds-list-html .heart-icon {
  transition: content 0.3s ease-in-out;
}