body {
  overflow: scroll;
}

/*--- os-bds-list-html */

.os-bds-list-html .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.os-bds-list-html .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.os-bds-list-html .heart-icon {
  transition: content 0.3s ease-in-out;
}

.os-bds-list-html .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.os-bds-list-html #dropdown-menu-province li:first-child,
.os-bds-list-html #dropdown-menu-city li:first-child {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

/*--- global */

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 1000;
  display: none;
}

.dropdown-menu {
  z-index: 1001; /* Đảm bảo dropdown menu nằm trên overlay */
}

