body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/*--- global */

/* .global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 1000;
  display: none;
} */

.dropdown-menu {
  z-index: 1001; /* Đảm bảo dropdown menu nằm trên overlay */
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group {
  flex-shrink: 0;
}

/*--- os-bds-detail-html */

.os-bds-detail-html .main-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.os-bds-detail-html .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 7px; /* Giảm khoảng cách giữa các ảnh trong lưới */
  height: 100%;
}
.os-bds-detail-html .image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.os-bds-detail-html .image-grid .img-3 {
  border-top-right-radius: 10px;
}
.os-bds-detail-html .image-grid .img-5 img {
  border-bottom-right-radius: 10px;
}
.os-bds-detail-html .col-6 {
  padding-right: 3px; /* Giảm khoảng cách giữa ảnh 1 và các ảnh khác */
}
.os-bds-detail-html .col-6 + .col-6 {
  padding-left: 4px; /* Giảm khoảng cách giữa ảnh 1 và các ảnh khác */
}
.os-bds-detail-html .hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease; /* Chuyển đổi mượt mà */
}
.os-bds-detail-html .hover-effect:hover {
  filter: brightness(1.2); /* Tăng độ sáng của ảnh lên 20% */
  transform: scale(1.03); /* Phóng to ảnh lên 3% */
}
.os-bds-detail-html .main-image-hover:hover {
  transform: scale(1.01); /* Phóng to ảnh đầu tiên lên 1% */
}

/*--- os-bds-detail-html */
.os-bds-detail-html #carouselExample {
  height: auto; /* Để chiều cao tự động */
  max-height: 600px; /* Chiều cao tối đa */
}

.os-bds-detail-html .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa các mục theo chiều ngang */
  height: 600px;
  max-height: 600px;
  flex-wrap: nowrap;
  width: 60%;
}

.os-bds-detail-html .carousel-inner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Giữ tỉ lệ hình ảnh */
}

.os-bds-detail-html .carousel-item {
  display: none;
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
}

.os-bds-detail-html .carousel-item.active {
  display: block;
}

.os-bds-detail-html .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.os-bds-detail-html .modal-header {
  border-bottom: 1px solid #212529;
}

.os-bds-detail-html .modal-body {
  padding: 0;
  position: relative;
  height: 100%;
}

.os-bds-detail-html .modal-dialog {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.os-bds-detail-html .modal-content {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  border: none;
  border-radius: 0;
}

.os-bds-detail-html .modal-content .close {
  color: #fff;
}

.os-bds-detail-html .modal-title {
  color: #fff;
}

.os-bds-detail-html .carousel-indicators {
  position: static;
  margin-top: 20px;
}

.os-bds-detail-html .carousel-indicators > li {
  width: 100px;
}

.os-bds-detail-html .carousel-indicators img {
  display: block;
  object-fit: cover;
  opacity: 0.8;
  height: 80px;
}

.os-bds-detail-html .carousel-indicators [data-bs-target] {
  width: 100px;
  height: 80px;
  align-self: center;
}

.os-bds-detail-html .carousel-indicators li.active img,
.os-bds-detail-html .carousel-indicators li:hover img {
  opacity: 1;
}

.os-bds-detail-html .carousel-control-next, .carousel-control-prev {
  width: 25% !important;
}

/* New styles to remove slide transition */
.os-bds-detail-html .carousel-item-start,
.os-bds-detail-html .carousel-item-next,
.os-bds-detail-html .carousel-item-prev,
.os-bds-detail-html .carousel-item-end {
  transition: none !important;
}

.os-bds-detail-html .carousel {
  transition: none !important;
}

.os-bds-detail-html .carousel-item-left,
.os-bds-detail-html .carousel-item-right,
.os-bds-detail-html .carousel-item-next,
.os-bds-detail-html .carousel-item-prev {
  transform: none !important;
}

.os-bds-detail-html .carousel-item.active {
  left: 0 !important;
  right: 0 !important;
}