{% extends 'base.html' %}

{% block title %}Thêm/Chỉnh sửa Trạng Thái{% endblock %}

{% block content %}
<div class="container">
  <form method="POST" action="{{ url_for('status.status_add_edit', status_id=status.id if status else None) }}">
    <div class="row">
      <div class="col-md-10">
        <h2>{% if status %}Chỉnh sửa Trạng Thái{% else %}Thêm Trạng Thái{% endif %}</h2>
      </div>
      <div class="col-md-2">
        <div class="d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Tên Trạng Thái:</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ status.name if status else '' }}" placeholder="Tên Trạng Thái">
    </div>
    <div class="form-group">
      <label for="description">Mô Tả:</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Mô Tả">{{ status.description if status else '' }}</textarea>
    </div>
  </form>
</div>
{% endblock %}