{% extends 'base.html' %}

{% block dnnScript %}
<script>
$(".delete-btn").click(function(e) {
    e.preventDefault(); // Ngăn chặn hành động mặc định của liên kết
    
    if (confirm("Bạn có chắc chắn muốn xóa?")) {
        // Nếu người dùng xác nhận, chuyển hướng đến URL
        window.location.href = $(this).attr("href");
    }
});
</script>
{% endblock %}

{% block title %}Thông tin User{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>Thông tin User</h1>
      </div>
      <div class="col-md-2">
        <div class="d-flex justify-content-end mt-2">
            <a href="{{ url_for('user.user_delete', user_id=user.id) }}" class="btn btn-danger delete-btn" style="margin-right: 5px;">Xóa</a>
            <a href="{{ url_for('user.user_add_edit', user_id=user.id) }}" class="btn btn-primary">Sửa</a>
        </div>
      </div>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Tên</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Tên đăng nhập</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Tên quyền</th>
            <td>{{ user.role.name }}</td>
        </tr>
    </table>
</div>
{% endblock %}